 # <span style="font-family: TrebucImport all required moduleshet MS; font-weight:bold;font-size:1.5em;color:#00b3e5;">  Preprocessing script

## <span style="font-family: Trebuchet MS; font-weight:bold;font-size:0.7em;color:darkorange;"> The raw data is available in the link https://data.mendeley.com/datasets/9sxpkmm8xn. Since it is more than 2GB data, no matter how you search it will not be available in this git repo. So before running this sript - download the zip, extract and have data_huang_devansh.csv available with you.

<a id='Imports'></a>

## <span style="font-family: Trebuchet MS; font-weight:bold;font-size:1.2em;color:#00b3e5;">  Import all required modules

In [1]:
import numpy as np
import pandas as pd

## <span style="font-family: Trebuchet MS; font-weight:bold;font-size:1.2em;color:#00b3e5;">  Common functions

In [2]:
def print_df_details(df):
    print("\n****** Start Dataframe Details ******")
    print("Dataframe Shape is ")
    print(df.shape)
    print("Dataframe Info is ")
    print(df.info())
    print("Dataframe random records ")
    display(df.sample(5) if len(df) > 5 else df.sample(1))
    print("****** End Dataframe Details ******\n")

In [3]:
# Read file and convert it to Dataframe
def file_to_df(fqfn, file_type='csv'):
    df = 'None'
    if (file_type == 'csv'):
        df = pd.read_csv(fqfn, skipinitialspace = True)
    else:
        raise ValueError('Unsupported filetype ', file_type)
    print_df_details(df)
    return df

In [5]:
data = file_to_df('data_huang_devansh.csv')

****** Start Dataframe Details ******
Dataframe Shape is
(842335, 2)
Dataframe Info is
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842335 entries, 0 to 842334
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Content  842308 non-null  object
 1   Label    842335 non-null  int64
dtypes: int64(1), object(1)
memory usage: 12.9+ MB
None
Dataframe random records

                                                  Content  Label
789983           @user Shut the fuck up you horrible cunt      1
12634   BTW, there's this dipshit (his name is LILVOKA...      1
349149    == Clarifying .. ==  Hi there !  I just want...      0
411745       @sschinke @teh_maxh it sets a bad precedent.      0
577154  I think we should further develop the pagan-or...      0

****** End Dataframe Details ******

In [ ]:
!pip install nltk

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

In [8]:
from nltk.corpus import stopwords
nltk_stop_words = stopwords.words('english')
print(nltk_stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [9]:
data.drop_duplicates(inplace=True)
print_df_details(data)

****** Start Dataframe Details ******
Dataframe Shape is
(560881, 2)
Dataframe Info is
<class 'pandas.core.frame.DataFrame'>
Int64Index: 560881 entries, 0 to 839518
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Content  560879 non-null  object
 1   Label    560881 non-null  int64
dtypes: int64(1), object(1)
memory usage: 12.8+ MB
None
Dataframe random records

                                                  Content  Label
411804  RT @freddydeknatel: "credible reports that Ira...      0
564832  "\n\n Corsi's ""apology"" for remarks on FR \n...      0
558163  "\n\n Your sig... \n\nI'm curious as to how yo...      0
510772  "\n\n National Archives ExtravaSCANza \nYou ar...      0
342462   ::I think the notability comes from the notab...      0

****** End Dataframe Details ******

In [10]:
data.dropna(inplace=True)
data.shape

(560879, 2)

In [11]:
import re
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

In [20]:
content=[]
label=[]
for row in data.values:
    new_sentence = ""
    old_sentence = row[0].split()
    for word in old_sentence:
        if word.find("https:")==0 and word.find("http:")==0 and word.find("www:")==0:
                continue
        elif len(word) > 1 and (word.startswith('#') or word.startswith('@')):
            new_sentence = new_sentence + " " + word
        elif word not in nltk_stop_words:
            word = re.sub('[()!?]', '', word)
            word = re.sub('\[.*?\]','', word)
            word = re.sub("[^A-Za-z]",'', word)
            base_word = wordnet_lemmatizer.lemmatize(word)
            new_sentence = new_sentence + " " + base_word 
    content.append(new_sentence.strip())
    label.append(row[1])
    #break
new_df = pd.DataFrame(
    {'content': content,
     'label': label
    })
new_df.sample()
#print(f"{content} and {label}")

                                                 content  label
208905  caught bothering something I long learned bother      0

In [28]:
#new_df.to_csv('clean_mendeley_hatespeech_dataset.csv')

#new_df[new_df['label'] == 0].to_csv('clean_mendeley_hatespeech_dataset_0.csv')
#new_df[new_df['label'] == 1].to_csv('clean_mendeley_hatespeech_dataset_1.csv')
for no, chunk in enumerate(np.array_split(new_df, 2)):
    suffix = chr(no+65)
    chunk.to_csv(f'clean_mendeley_hatespeech_dataset_part{suffix}.csv')